/* src/components/Header.css */
header {
    background-color: #00695c;
    color: white;
    padding: 20px;
  }
  
  header nav {
    display: flex;
    justify-content: space-around;
  }
  
  header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  header nav a:hover {
    text-decoration: underline;
  }
  