.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    background-color: var(--global-color);
    width: 100%;
    box-sizing: border-box;
  }
  
  .hero-content {
    flex: 1;
    max-width: 50%;
    padding-right: 20px;
    padding-left: 100px;
  }
  
  .hero-content h1 {
    font-size: 36px;
    color: #000;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    margin: 20px 0;
    font-size: 18px;
    color: #555;
  }
  
  .hero-content button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  
  .hero-stats {
    display: flex;
    gap: 40px;
    font-size: 16px;
  }
  
  .hero-stats div {
    text-align: center;
  }
  
  .hero-stats span {
    font-size: 24px;
    font-weight: bold;
    display: block;
  }
  
  .hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .hero-image img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .hero {
      flex-direction: column;
    }
  
    .hero-content {
      max-width: 100%;
      text-align: center;
      padding-right: 0;
    }
  
    .hero-image {
      margin-top: 20px;
    }
  
    .hero-stats {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }
  