.newsletter {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    border-radius: 10px;
    margin: 20px 0;
    width: 75%;
    margin-bottom: -80px;
    z-index: 10

  }
  
  .newsletter-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .newsletter h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .newsletter-form input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    width: 300px;
  }
  
  .newsletter-form button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #fff;
    color: #000;
    cursor: pointer;
  }
  
  .newsletter-form input[type="email"]::placeholder {
    color: #aaa;
  }
  