/* Container principal da página de loja */
.fim {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.shop {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
}

.filters-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinhar à esquerda */
  width: 20%;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.filter-category, .filter-price, .filter-collection {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinhar à esquerda */
  margin-bottom: 20px;
}

.filter-category ul, .filter-collection ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filter-category li, .filter-collection li {
  margin: 5px 0;
  cursor: pointer;
}

.filter-category h2, .filter-price h2, .filter-collection h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.filter-price input[type="range"] {
  width: 100%;
}

.filters button {
  padding: 10px;
  font-size: 14px;
  margin-top: 10px;
}

.apply-filter, .reset-filter {
  padding: 10px;
  font-size: 14px;
  background-color: #006400;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.reset-filter {
  background-color: #8B0000;
}

.products-container {
  width: 75%;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: left;
  cursor: pointer;
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.product h2, .product p {
  margin: 10px 0;
}
